<style>
        .nav {
            
            height: 60px;
            padding: 20px;
            position: fixed;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
        }
    .navbar-brand {
        font-size: 29px;
        color: black !important;
    }
    .nav-link {
        color: black !important;
    }
    .btn.nav-link {
        color: black !important;
    }
    .btn-primary {
        color: black !important;
    }
    .nav {
        position: fixed;
        width: 100%;
    }
    .col-4 { width: 10%; 
    } /* Adjusted width */
    .col-7 {
        width: 85%; /* Adjusted width */
        margin-right: 200px;
    }
    .logo {
        max-width: 190px; /* Adjust the size as needed */
        height: auto;
    }
    .navbar {
        padding: 20px 0; /* Adjust padding to increase header height */
    }
    .dropdown-menu {
        background-color: #7ed957; /* Matches navbar color */
    }
    .dropdown-item {
        color: black !important;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #7ed957">
    <div class="container-fluid">
        <div class="col-4">
            <a href="/"><img src="/images/fraudguard_logo.png" class="logo" style="margin-left:20px;"></a>
        </div>
        
        <div class="col-7">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/post/view">View Posts</a></li>
                    <li class="nav-item"><a class="nav-link" href="/annoucement">Announcements</a></li>
                    <li class="nav-item"><a class="nav-link" href="/chatbot">Chatbot</a></li>
                    <li class="nav-item"><a class="nav-link" sec:authorize="hasRole('COMPANY') href="/chart">Chart</a></li>
                    <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                        <a class="nav-link" href="/members">Member</a>
                    </li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/post/add">Add Post</a></li>
                    <li class="nav-item" sec:authorize="isAuthenticated()"><a class="nav-link" href="/profile">My Post</a></li>
                    
                    <!-- Dropdown for Login -->
                    <li class="nav-item dropdown" sec:authorize="!isAuthenticated()">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Login
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="/login">User Login</a>
                            <a class="dropdown-item" href="/company/login">Company Login</a>
                        </div>
                    </li>
                    
                    <li class="nav-item" sec:authorize="isAuthenticated()">
                        <form th:action="@{/logout}" method="post" class="">
                            <button class="btn btn nav-link" type="submit">Logout</button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<script>
    $(document).ready(function() {
        $('.navbar-toggler').click(function() {
            $('.collapse.navbar-collapse').toggleClass('show');
        });
    });
</script>